
//***********轮播组件
.activity_zhoubian{
    display: felx;
    flex-direction: column;
    .activity_lunbo_box{
        width:100%;
        .swiper-container--lunobo{
            min-height: 1.4rem;
            position: relative;
            img{
                width:100%;
            }
        }
    }
    .activity_zhoubian--bottom{
        width:100%;
        display: flex;
    }
}



// *******人气主办方组件
.ActivityHot_box{
    padding:0 0.15rem;
    margin-top:0.15rem;
    ul{
        li{
            display: flex;
            border-bottom: 1px solid #e2e2e2;
            padding:0.15rem;
            .ActivityHot_box__item--left{
                width: 1rem;
                height: 1rem;
                position: relative;
                margin-right: 0.1rem;
                img{
                    width:100%;
                }
            }
            .ActivityHot_box__item--right{
                h4{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 0.15rem;
                    font-weight: normal;
                }
                p{
                    font-size: 0.12rem;
                    span{
                        color: #999;
                    }
                }
                p:nth-of-type(1){
                    height: 0.15rem;
                    line-height: 0.15rem;
                    margin: 0.12rem 0;
                    b{
                        color: #ff8814;
                        margin-right: 0.1rem;
                        font-weight: normal;
                    }
                }
            }
           
        }
    }
    .ActivityHot_box--seeMore{
        line-height: 0.3rem;
        text-align: center;
        font-size: 0.12rem;
        height: 0.3rem;
    }
}