.address__box{
    height:100%;
    overflow-y: auto;
}
.address__header{
    display: flex;
    justify-content: center;
    background-color: #1070b6;
    height: 0.44rem;
    align-items: center;
    button{
        width: 0.66rem;;
        height: 0.26rem;
        line-height: 0.26rem;
        border-radius: 5px;
        text-align: center;
        background-color: #fff;
        color: #000;
        font-size: 0.14rem;
        margin-right: 5px;
        &.on{
            background-color: #33cc33;
            color: #fff;
        }
    }
}
.address__title{
    padding-left: 0.15rem;
    background-color: #fff;
    line-height:  0.35rem;
    height: 0.35rem;
    color: #000;
    font-size: 0.14rem;
    border-bottom: 1px solid #ccc;
}
.address__body{
    padding: 0.15rem 0.1rem 0;
    ul{

    }
    li{
        float: left;
        width: 50%;
        padding: 0 5px;
        margin-bottom: 0.1rem;
        a{
            display: block;
            background-color: #fff;
            text-align: center;
            line-height: 0.25rem;
            height: 0.25rem;
            border: 1px solid #ccc;
        }
    }
    
}
.address__body--searchSchool{
    padding: 0 5px;
    margin-bottom: 0.1rem;
    display: flex;
    justify-content: space-between;
    .searchInp__box{
        width: 78%;
        background-color: #fff;
        border-radius: 12px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        input{
            width: 80%;
            line-height: 0.26rem;
            height: 0.26rem;
            padding-left: 0.10rem;
            box-sizing: border-box;
            border-radius: 0.12rem 0 0 0.12rem;
        }
        span{
            background: url(http://www.gd12355.org/wechat/public/img/searchIcon.png) no-repeat right center;
            line-height: 0.26rem;
            height: 0.26rem;
            width: 0.26rem;
            background-size: 0.18rem;
            display: block;
            

        }
    }
    button{
        width: 20%;
        background-color: #2185cf;
        color: #fff;
        text-align: center;
        line-height: 0.26rem;
        height: 0.26rem;
        font-family: 'Microsoft yahei';
        border-radius: 4px;
    }
}