

$mainBg:#2185cf;

.FindHelp_box{
    
}

//顶部蓝色条*********
    .head_link{
        background:$mainBg;
        width: 100%;
        height: 0.38rem;
        display: flex;
        align-items: center;
        padding:0 0.17rem;
        a{
            display: inline-block;
        }
        a.go_main{
            background:url(http://www.gd12355.org/wechat/public/img/head_logo.png) no-repeat;
            background-size: 0.7rem;
            height:0.18rem;
            width: 0.86rem;
            border-right: 1px solid #91b9d6;
            text-align: center;
        }
        a.go_help{
            font-size: 0.12rem;
            width: 0.55rem;
            text-align: center;
            color: #fff;
        }
    }

//页面内容区**********
.FindHelp_box{
    .FindHelp_banner{
        height:1.4rem;
        width:100%;
        position: relative;
        .changePage{
            background:url(http://www.gd12355.org/wechat/public/img/slider-arrow.png) no-repeat center;
            opacity: 0.5;
        }
        .swiper-button-prev{
            
        }
        .swiper-button-next{
            background-position: 8px 5px;
        }
        .swiper-slide{
            height:1.4rem;
            line-height: 1.4rem;
            text-align: center;
            img{
                display: inline-block;
                max-width: 100%;
                max-height: 100%;
                vertical-align: center;
            }
        }
        .swiper-pagination-bullet{
            width: 0.146rem;
            height: 0.146rem;
            line-height: 0.146rem;
            background: #fff;
            text-align: center;
            margin: 0 1.875px;
            font-size: 0.11rem;
            border-radius: 0;
            opacity: 1;
        }
        .swiper-pagination-bullet-active{
            background: red;
        }
    }
    p{
        background:#fff;
        font-size: 14px;
    }
    .FindHelp_info{
        p:nth-of-type(1){
            margin-bottom:0.25rem;
            a.jubao{
                width:16%;
                padding-left: 0.15rem;
                color: #333;
                background: url(http://www.gd12355.org/wechat/public/img/report.png) no-repeat left center;
                background-size: 0.12rem 0.12rem;
                float: right;
                font-size: 0.12rem;
            }
        }
        p{
           border-bottom: 1px solid #e8e8e8;
           height:0.4rem;
           line-height: 0.4rem;
           padding:0 0.15rem;
           b{
               font-weight: normal;
               color:$mainBg;
               float: right;
           }
            strong{
                font-weight: normal;
                color:#999;
                float: right;
            }
        }
    }
}

//求助详情************
.help_content{
        padding-top: 0.07rem;
    h4{
        line-height: 0.31rem;
        padding-left: 0.43rem;
        background: url(http://www.gd12355.org/wechat/public/img/help03.png) no-repeat 0.15rem center;
        background-size: 0.14rem;
    }
    p{
        padding: 0.1rem 0.15rem;
        color: #333;
        font-size: 12px;
        span.dian{
            color:$mainBg;
            margin-right: 8px;
        }
    }
    p.p_time{
        font-size: 14px;
    }
    p.p_word{
        text-indent:0.24rem;
        font-size: 0.12rem;
    }
}



// 评论区*****************
.comment_box{
    margin-top:0.25rem;
    h2,h3{
        font-weight: normal;
    }
    >h2{
        border-bottom: 1px solid #e8e8e8;
        padding:0 0.15rem;
        height: 0.4rem;
        line-height: 0.4rem;
        span{
            font-size: 0.15rem;
        padding-left: 0.3rem;
        background: url(http://www.gd12355.org/wechat/public/img/commentIcon.png) no-repeat left center;
        background-size: 0.16rem;
        }
        a{
          color: $mainBg;
          float:right;
          font-size: 14px;
        }
    }
    >ul{
        padding:0 0.15rem;
        li{
            display: flex;
             border-bottom: 1px solid #e8e8e8;
            .imgDiv{
                padding: 0.15rem 0.12rem 0.15rem 0;
                .i{
                    width: 0.5rem;
                    height: 0.5rem;
                    border-radius: 50%;
                    overflow: hidden;
                    img{
                        width: 100%;
                    }
                }
                    
                
            }
            .contentDiv{
                width: 80%;
                h3{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding:0.12rem 0;
                    span{
                        font-size: 0.12rem;
                        color: #999;
                    }
                    span.person_name{
                        color:$mainBg
                    }
                }
                p{
                    line-height: 0.16rem;
                    font-size: 0.12rem;
                }
            }
        }
    }
}
.dataOver{
        line-height: 0.34rem;
    text-align: center;
    font-size: 0.12rem;
    height: 0.34rem;
}

// 底部我要帮助他1!!
.help_people{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height:0.4rem;
    color:#fff;
    background:$mainBg;
}